.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card {
    justify-content: flex-start;
    position: relative;
    height: 70px;
    width: 90px;
    background: gray;
    outline-color: black;
    outline-width: 4;
    outline-style: solid;
    cursor: pointer;
}

.card:hover {
    outline-color: darkgray;
}

.card-label {
    text-align: center;
}