.card-container {
    display: 'flex';
    flex-wrap: 'no-wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
}

.card {
    justify-content: flex-start;
    position: relative;
    min-width: 120px;
    background: gray;
    outline-color: black;
    outline-width: 2;
    cursor: pointer;
}

.card:hover {
    outline-color: darkgray;
}

.card-label {
    text-align: center;
}